/*CSS Reset*/
html,body{font-family:'Arial','Microsoft YaHei',"SimSun";font-size:16px;margin:0;padding:0;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,textarea,select,optgroup,option,fieldset,legend,p,blockquote,th,td{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:normal;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;vertical-align:middle;}
li{list-style:none;vertical-align:middle;}
dl{vertical-align:middle;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;outline:none;-webkit-appearence:none;-ms-appearence:none;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{border:none;background:none;-webkit-appearance:none;outline:none;}
a{-webkit-touch-callout:none;text-decoration:none;outline:0;}
em,i{font-style:normal;}
::-webkit-input-placeholder{color: #999;}

/* public */
img{border:0;}
h4{font-size:16px;}
.clear{zoom:1;}
.clear:after{content:'';display:block;clear:both;}
.clr{clear:both;}
.show{display: block!important;}
.hide{display: none!important;}
.white{color:#fff!important;}
.red{color:#f00!important;}
.grey{color:#999!important;}
.c333{color:#333!important;}
.c666{color:#666!important;}
.blue{color: #178fe6!important;}
.yellow{color:#f48b37!important;}
.bgGrey{background-color:#f0f0f0!important;}
.bgC333{background-color:#333!important;}
.bgC666{background-color:#666!important;}
.bgBlue{background-color:#0099e9!important;}
.bgGreen{background-color:#22a240!important;}
.bgYellow{background-color:#e28b25!important;}
.bgPurple{background-color: #ffecec!important;}
.fl{float:left;}
.fr{float:right;}
.text-center{text-align:center;}
.text-right{text-align: right;}
.indent{text-indent: 24px;}
.padding_no{padding:0!important;}
input,button,select,textarea,th,td{color:#666666;}
ul{margin:0;padding: 0;}
